h1 {
  text-align: center;
  color: aqua;
}

.blog-page {
  background: var(--bg-light);
  padding-top: var(--space-lg);
  padding-bottom: var(--space-lg);
}
.blog-posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: var(--space-lg);
  margin-top: var(--space-x);

}
.blog-article {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  overflow: hidden;
  transition: transform 0.3s ease;
  margin-top: var(--space-xxl);

}

.blog-article:hover {
  transform: translateY(-5px);
}

.blog-article-img {
  position: relative;
  height: 250px;
}

.blog-article-img img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  overflow: hidden;
}



.blog-article-content {
  padding: var(--space-sm);
  padding-top: 0;
}


.blog-article-content h2 {
  margin: 0.5rem 0;
  font-size: var(--font-sm);
  color: #3d3d3d;
}

.blog-article-content p {
  font-size: var(--font-xs);
  color: var(--text-secondary);
}

.date span, .content span, .blog-info-tab, .content a {
    font-size: var(--font-xxs);
    color: var(--text-secondary);
}


.blog-article-content button {
  margin-top: 1rem;
  background-color: var(--color-purple);
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.85rem;
} 

.blog-info, .blog-info-tab {
    display: flex;
    justify-content: space-between;
    padding: var(--space-sm);
}

.blog-info-tab {
  display: none;
}

.blog-article p {
  max-width: fit-content;
  text-align: start;
}



@media (min-width: 375px) {
    .container {
      max-width: 350px;
  }
    html {
    font-size: 18px;
  }
}

@media (min-width: 425px) {
  .container {
    max-width: 400px;
  }
}
@media (min-width: 593px) {
    html {
    font-size: 19px;
  }
  .blog-article-img {
    height: 400px;
    max-height: 300px;
  }
   html {
    font-size: 19px;
  }
  .container {
    max-width: 540px;
  }

  .blog-article-img img{
    height: 100%;
    object-fit: cover;
    
  }
}

@media (min-width: 768px) {

   html {
    font-size: 17px;
  }
  .blog-posts {
    grid-template-columns: 1fr;
    width: 100%;
    margin-top: var(--space-md);
    border-right: 1px solid #C1D3EB;
  }

  .blog-details {
    width: 50%;
    margin-top: 0;
  }

  .about-author h2 {
    padding-top: 0;
  }

  .blog-article-img {
    height: 100%;
    width: 100%;
    padding-top: var(--space-sm);
  }
  .blog-article-img img {
    height: 100%;
  }

  .blog-article {
    max-height: 400px;
    display: block;
  }
  .blog-info {
    display: none;
  }

  .blog-info-tab {
    max-height: 400px;
    padding: var(--space-sm) 0;
  }

  .blog-page {
    display: flex;
  }

  .blog-article-img {
    /* padding-top: var(--space-sm); */
    width: 100%;
    max-height: 300px;
  }

  .blog-article-content {
    height: 100%;
    padding-top: var(--space-md);
  }

  .blog-flex {
    width: 100%;
  }

  .blog-article-content h2 {
    margin-top: 0;
  }

  .about-author  {
    padding-top: 0px;
  }
  .container {
    max-width: 720px;
    max-height: fit-content;
  } 
} 

@media (min-width: 1024px) {

    html {
      font-size: 20px;
    }
    .blog-article {
      height: 360px;
      display: flex;
    }
    .blog-article-img {
      max-height: 300px;
    }
   

    .blog-article-img img {
        height: 250px;
        object-fit: cover;
        padding-top: var(--space-sm);
    }

    .blog-article-content button {
      margin-top: 0;
    }

    .blog-additional-detail {
      margin-top: 0px;
    }

    
}
@media (min-width: 1440px) {

     html {
      font-size: 25px;
    }


    .blog-flex {
      height: 360px;
      width: 100%;
      padding-top: 0;
    }

    .blog-article-img img {
      height: 100%;
    }

    .container {
      max-width: 1320px;
      height: fit-content;
  }

  .blog-article-content button {
    margin-top: 5px;
  }

   .blog-details {
      margin-top: 0px;
    }

}